{% extends "layouts/base.html" %}
{% block title%} Blog  {% endblock %}

{% block content%}
<section id="blog">
    <label for ="search">Search post</label>
    <input type ="search" id="search" name="search">
    <label for ="search">Sort by</label>
    <select id="search" name="search">
        <option value="author">Author</option>
        <option value="date">Date</option>
        <option value="title">Title</option>
        
    </select>
    <a href="{{ url_for('create_post') }}"><button type="button">New Post</button></a>
    {% for post in posts %}
    <div id={{"blog"~post.id}} class="blog_container">
        <h1> {{post.title}} </h1>
        <h2> {{post.author}} </h2>
        <p> {{post.date}} </p>
        <p> {{post.content[:20]}} <a href="http://">Read more</a></p>
    </div>
    {% endfor %}
</section>
{% endblock %}

