{% extends "layouts/base.html" %}
{% block title%} Blog  {% endblock %}

{% block content%}
<section id="content" class="flex_col_center">
    <label for ="search" class="search">Search post</label>
    <input type ="search" id="search" name="search">
    
    
    <a href="{{ url_for('create_post') }}"><button type="button" class="btn_round">New Post</button></a>
    {% for post in posts %}
    <div id={{"blog"~post.id}} class="post_container">
        <h1> {{post.title}} </h1>
        <div class="flex_col_center"> <img src="{{post.image}}" alt="post image" class="post_image"> </div>
        <h2>"{{post.content}}" </h2>
        <p class="posted"> posted by: {{post.author}}, {{post.date}} </p>
    </div>
    {% endfor %}
</section>
{% endblock %}

