{% extends "layouts/base.html" %}
{% block title%} Onstagram {% endblock %}

{% block content%}
<section id="content" class="flex_col_center">
    
    <select name="groups" id="groups_select">
        {% for group in groups %}  
        <option value="{{group.id}}" id="{{"group"~group.id}}" class="select_options">{{group.name}}</option>
        {% endfor %}
    </select>

    {% for i in permission %}  
        {% if i=='post:images' %}, 
        <a href="{{ url_for('create_post') }}"><button type="button" class="btn_round">New Post</button></a>
        {% endif %}
        {% if i=='post:images', %}
        <a href="{{ url_for('create_group') }}"><button type="button" class="btn_round">New Group</button></a>
        {% endif %}
    {% endfor %}
    
    
    
    {% for post in posts %}
    <div id={{"blog"~post.id}} class="post_container">
        <h1> {{post.title}} </h1>
        <div class="flex_col_center"> <img src="{{post.image}}" alt="post image" class="post_image"> </div>
        <h2>"{{post.comment}}" </h2>
        <p class="posted"> posted by: {{post.author}}, {{post.date}}, {{ post.group_id}} </p> 
        <button class="button_delete" id="{{ post.id }}">&cross;</button>
		<a href="{{ url_for('edit_post',post_id=post.id) }}">EDIT</a>
    </div>
    {% endfor %}
</section>



<script>
	//Delete button
	const buttons = document.getElementsByClassName("button_delete");
	for (button of buttons) {
		button.addEventListener("click", (e) => {
			deleteId=e.target.id;
			fetch("/posts/"+deleteId+"/delete",{
                    method: "DELETE",
                    headers:{
                        "Content-Type": "application/json"
                    }
                    
                })
                .then((response) => {
                    console.log(response)
                    location.reload()
                    
                })
            })
	}


    const dropDown = document.getElementById("groups_select")
    dropDown.addEventListener("click", (e) => {
        value = e.target.value
        console.log(value)
        fetch ("/?group="+value, {
               method: "GET"
           
                    
               
                })   
                .then((response) => {
                    console.log(response)
                    
                    
                })

    })

    
   

</script>
{% endblock %}

