{% extends "layouts/base.html" %}
{% block title%} Home  {% endblock %}

{% block content%}
<section id="welcome">
   <div id="hero">
      <h1>The average joe investment guide</h1>
      <h2>Beat the market and harvest a passive income</h2>
      <input type="email" name="email" id="email">
      <input type="submit" value="Start Now" class="">
   </div>

   
</section>


<section id="posts">
   <div id="slider"></div>
</section>

<section id="process">
   <a href="http://starkandwayne.com"></a>
</section>
{% endblock %}

