main{
    grid-area:main;
}

#content{
    margin: 0 auto;
}

.blog_container{
    margin-top: 20px;
    border: 1px black solid;
}


button {
    height: var(--font-size-normal);
    background-color: var(--secondary-color);
    padding: 20px 0;
    width: 130px;
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}