{% extends "layouts/base.html" %}
{% block title%} Onstagram - Edit Group  {% endblock %}

{% block content%}

<form class="form flex_col_center" id="form" method="POST">
    <h1 class="form-heading">Edit a Group</h1>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true, value=group.name) }}
      </div>
         
      <input type="submit" value="Edit Group" class="btn btn-primary btn-lg btn-block">
    
</form>
{% endblock %}

